In [21]:
SELECT TOP 10
    terem AS 'Termek', 
    COUNT(*) 'Terem megjelenések száma'
from orak
WHERE terem IS NOT null
GROUP BY terem
ORDER BY COUNT(*) desc 


SELECT TOP 10
    targy AS 'Tárgyak', 
    COUNT(*) 'Tárgy megjelenések száma'
from orak
WHERE targy IS NOT null
GROUP BY targy
ORDER BY COUNT(*) desc 


SELECT TOP 10
    tanar AS 'Tanárok', 
    COUNT(*) 'Tanár megjelenések száma'
from orak
WHERE tanar IS NOT null
GROUP BY tanar
ORDER BY COUNT(*) desc

Termek,Terem megjelenések száma
3,11
4,8
8,6
7,6
6,6
5,5
2,5
13,5
10,3
12,3

Tárgyak,Tárgy megjelenések száma
1,27
5,10
3,6
10,4
8,4
2,4
18,3
4,3
13,2
17,2

Tanárok,Tanár megjelenések száma
2,8
9,7
8,6
1,4
12,4
7,4
6,4
20,4
111,4
5,3

In [16]:
SELECT AVG(NULLIF(nap, NULL)) AS 'Napok átlaga',
       AVG(NULLIF(Sav, NULL)) AS 'Sávok átlaga',
       AVG(NULLIF(ora_id, NULL)) AS 'ID-k átlaga'
FROM orak

Napok átlaga,Sávok átlaga,ID-k átlaga
2,3,192

In [14]:
SELECT VAR(NULLIF(sav, NULL)) AS 'Sávok szórása',
       VAR(NULLIF(terem, NULL)) AS 'Termek szórása',
       VAR(NULLIF(tanar, NULL)) AS 'Tanárok szórása'
FROM orak

Sávok szórása,Termek szórása,Tanárok szórása
4.693803708729082,16.16191768430574,5899.794663048394